

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.header{
    background: #F9C174;
    /*border-style: solid; 
    border-color: red;*/
}

.flex_container_hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#F9C174;
    padding: 50px;
    /*width: 1094px;
    height: 686px*/
    /*width: 1094px;
    height: 400px;*/

    /*border-style: solid; 
    border-color: blue;*/
   
}

.lhs_hero {
    display: flex;
    flex-direction: column;
    background-color:#F9C174;
    /*flex-flow: row wrap;
    border-style: solid; 
    border-color: red;*/
}

.first_heading_hero{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #F9C174;
    color:#ffffff;
    width: 600px;
    height: 95px;
    /* margin: 10px; */
    text-align: left;
    line-height: 35px;
    font-size: 14px;
    font-weight: 300px;
    /* border-style: solid; 
    border-color: red; */
}

.second_heading_hero{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #F9C174;
    color:#ffffff;
    width: 624px;
    height: 140px;
    /* margin: 10px; */
    font-size: 18px;
    text-align: left;
    line-height: 32px; 
    /* border-style: solid; 
    border-color: red; */
}

.rhs_hero{
    /*display: flex;
    flex-direction: row;
    flex-flow: row wrap;*/
    background-color:F9C174;
    /*border-style: solid; 
    border-color: red;*/
}



.btn1_hero{
    padding: 9px 25px;
    background-color:#22D3B6;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;

    padding-top: 14px!important;
    padding-right: 36px!important;
    padding-bottom: 14px!important;
    padding-left: 28px!important;

    border-radius: 7px; 
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px rgba(34,34,34,0.2);
    font-weight: 600px;
}

.btn2_hero{
    padding: 9px 25px;
    border-color: #22D3B6;
    background-color: #F9C174;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;
    font-weight: 600px;
    /* padding:14px; */

    padding-top: 14px!important;
    padding-right: 36px!important;
    padding-bottom: 14px!important;
    padding-left: 28px!important;

    border-radius: 7px;
    box-shadow: 0px 0px 8px rgba(34,34,34,0.2); 
}

.familyHeroImage{
    /*width: 321.19px;
    height: 586px;*/
    justify-content: space-around;
    width: 200px;
    height: 350px;
}

.flex_container_what_is_family_module{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    /*background-color:#1e0ff0;*/
    /*border-style: solid; 
    border-color: blue;*/
   
}

.iconFamilyImage{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    
    /* align-self: center; */
    /* display: block;*/
    margin-left: auto;
    margin-right: auto;
    /* justify-content: space-around; */
}

.what_is_family_title{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #222222;
    text-align: center;
    /*line-height: 35px;*/
    font-size: 28px;
    /*border-style: solid; 
    border-color: red;*/
}

.what_is_family_content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    /*justify-content: space-around;*/

    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #222222;
    text-align: center;
    
    font-size: 15px;
    /* width: 850px;
    height: 150px; */

    /*border-style: solid; 
    border-color: red;*/
}

.flex_container_phone_trio{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    /*background-color:#1e0ff0;*/
    /*border-style: solid; 
    border-color: blue;
    justify-content: space-around;*/
   
}

.phone_trio_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
    /*border-style: solid; 
    border-color: blue;*/
    

}

.flex_container_how_family_works{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*background-color:#1e0ff0;*/ 
    /*margin-left: auto;
    margin-right: auto;
    justify-content: center;*/
    /* border-style: solid; 
    border-color: yellowgreen; */

  
}

.how_family_works_title{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #222222;
    /*justify-content: space-around;*/
    /* border-style: solid; 
    border-color: red; */
   
}

.how_family_works_content{ 
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #222222;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    width: 850px;
    height: 100px;
    
    /*justify-content: space-around;
    justify-content: center;*/
    /* border-style: solid; 
    border-color: green; */
}


.how_family_works_rows{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*background-color:#1e0ff0;*/ 
    /*margin-left: auto;
    margin-right: auto;
    justify-content: center;*/
    /* border-style: solid; 
    border-color: blue; */
}

.lhs_box {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    width: 400px;
    height: 200px;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;

    /*background-color: #ebeaea;
    border-radius: 30px;
    width: 456px;
    height: 321px;
    border: 5px solid rgb(252, 252, 252);
    padding: 10px;
    margin: 50px;*/
}

.lhs_box_none{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 100px;
    /*margin-right: auto;
    border-style: solid; 
    border-color: red;*/


    /*justify-content: center;*/
}

.rhs_box {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    /* width: 456px;
    height: 321px; */
    width: 400px;
    height: 200px;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;

    /*
    box-sizing: border-box;
    justify-content: space-around;
    border-style: solid; 
    border-color: red;*/
    
}

.rhs_box_none {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    /*margin-right: auto;*/
    padding: 30px;
    /*border-style: solid; 
    border-color: red;
    justify-content: space-around;
    border-style: solid; 
    border-color: red;*/
}

.header_box{
    font-family:'Open Sans', sans-serif;
    color: #E55AA1;
    font-size: 20px;
    line-height: 30PX;
    text-align: left;
    margin-left: 40px;

}

.p_box{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-align: left;
    font-size: 12px;
    /* line-height: 1.7em; */
    font-weight: 500px;
    
    
}

.familyNumBox{
    text-align: left;
    width: 25px;
    height: 30px;
    /*display: block;
    margin-left: left;*/

}

/* .numBoxOne {
    text-align: left;
    width: 25px;
    height: 25px;
    display: block;
    margin-left: left;

} */



/* .numBoxThree {
    text-align: left;
    width: 25px;
    height: 30px;
    /*display: block;
    margin-left: left;

} */

.flex_container_benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#F9C174;
    width: auto;
    height: 697px;
    padding-top: 54px;
    padding-bottom: 54px;
    /*padding: 50px;*/
    /* border-style: solid; 
    border-color: red; */
}

.benefits_title{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    font-size: 28px;
    background-color: #F9C174;
    color: #ffffff;
    margin-bottom:60px;
    /* padding:30px; */
    /* justify-content: space-around; */
    /* border-style: solid; 
    border-color: pink; */
   
}

.flex_container_benefits_rows_and_columns{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#F9C174;
    height: 500px; 
    /*justify-content: space-evenly;*/
    /*background-color:#1e0ff0;*/
    /* border-style: solid; 
    border-color: green; */

}

.left_col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    /* border-style: solid; 
    border-color: blue;*/
} 

.benefitsIcons{
    display: flex; 
    justify-content: center;
    width:96px;
    height:96px;
    margin-left: 82px;
    margin-right: 82px;
    

}

.mid_col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    /* border-style: solid; 
    border-color: blue;  */
}

.right_col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    /* border-style: solid; 
    border-color: blue; */
}

.benefits_column_box{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /*justify-content: space-around;*/
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    width: 260px;
    height: 194px;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.flex_container_testimonial{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    background-color: #a8a5a5;
    width: auto;
    height: 676px;
    /* padding: 100px; */
    /* padding-top:200px; */
    /* border-style: solid; 
    border-color: blue; */

}

.testimonial_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:1080px;
    height: 400px;
    padding:100px; 
    margin: auto;
    /* border-style: solid; 
    border-color: green;   */
}

.testimonial_header{
    display:flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
}

.lhs_quotemarks{
    display:flex;
    width:110px;
    height:87px;
    /* flex-flow: column wrap;
    flex-direction: column; 
    justify-content: flex-end; */
    /* border-style: solid; 
    border-color: yellow;  */
}

.rhs_quotemarks{
    display:flex;
    width:110px;
    height:87px;
    float: right;
    /* border-style: solid; 
    border-color: yellow;  */
}

.testimonial_1{
    background-image: url(https://lmc-marketing-public.s3.eu-west-2.amazonaws.com/wp-content/uploads/2020/10/27095154/family-module-testimonial-background-1.png);
    background-size: cover;

    
}

.testimonial_2{
    background-image: url(https://lmc-marketing-public.s3.eu-west-2.amazonaws.com/wp-content/uploads/2020/10/27145633/PHOTO-2020-10-23-16-45-05-9.png);
    background-size: cover;
    
 

}

.flex_container_features_{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border-style: solid; 
    border-color: red; */

}

.features_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #222222;
    font-size: 28px;
    font-weight:300px;
    padding-bottom: 10px;
    padding-top: 40px;
    /* border-style: solid; 
    border-color: red; */
}

.features_rows{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border-style: solid; 
    border-color: red; */


}

.features_timeline_box{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    width: 400px;
    height: 257px;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;
    margin-top: 150px;
    margin-bottom:5.82%x;
    /* margin-right:52.78px; */
}

.features_toggle_box{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    /* width: 456px;
    height: 321px; */
    width: 400px;
    height: 257px;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;
    margin-top: 50px;
    margin-bottom:26.578px;
}

.features_invite_box{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    width: 400px;
    height: 257px;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;
    

}

.features_header_box{
    font-family:'Open Sans', sans-serif;
    color: #222222;
    font-size: 20px;
    line-height: 30PX;
    text-align: left;
    margin-left: 40px;
}

.features_p_box{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-align: left;
    font-size: 12px;
    font-weight: 500px;
    line-height: 1.7em;
    /* padding-bottom: 1em; */
    /* line-height: 1.7em; */

}

.features_rhs_box_none{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    /*margin-right: auto;*/
    padding: 30px;

}

.features_lhs_box_none{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 100px;

}

.features_icon_Box{
    text-align: left;
    width: 25px;
    /* height: 30px; */
    /*display: block;
    margin-left: left;*/

}

.care_timeline_phone{
    width: 352px;
    height: 500px;
    /* border-style: solid; 
    border-color: red;  */

}

.data_toggle_image{
    /* width: 379px;
    height: 568px; */
    
    /* width:450px;
    height: auto; */

    width:450px;
    height: 568px;;
    /* margin-right: 200px; */

    /* max-width: 100%;
    height: auto; */

    /* position: relative;
    vertical-align: baseline; */
    /* border-style: solid; 
    border-color: red;  */
}

.flex_container_features_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color:#F9C174; */

    /* border-style: solid; 
    border-color: green; */
}

.features_buttons{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;*/
    width:1300px;
    height: 152px;  
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* align-items: center; */
    /* background-color:#F9C174; */
    /* justify-content: center; */
    /* border-style: solid; 
    border-color: red;  */
}


.btn1_features{
    display: flex;
    
    justify-content: center;

    padding: 9px 25px;
    background-color:#22D3B6;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;

    padding-top: 14px!important;
    padding-right: 36px!important;
    padding-bottom: 14px!important;
    padding-left: 28px!important;

    border-radius: 7px; 
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px rgba(34,34,34,0.2);
    font-weight: 600px;
    
}

.btn2_features{
    display: flex;
    
    justify-content: center;

    padding: 9px 25px;
    border-color: #22D3B6;
    border-width: 1px;
    font-family: 'Open Sans', sans-serif;
    color:#222222;
    font-weight: 600px;
    padding-top: 14px!important;
    padding-right: 36px!important;
    padding-bottom: 14px!important;
    padding-left: 28px!important;
    border-radius: 7px;
    box-shadow: 0px 0px 8px rgba(34,34,34,0.2); 
    margin-top: 10px;
    
}

.flex_container_cost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 50px; */
    height:1500px;
    border-style: solid; 
    border-color: rgb(30, 215, 228); 

}
.cost_content{
    height: 425px;
    /* border-style: solid; 
    border-color: rgb(233, 40, 233) */

}

.cost_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #222222;
    font-size:28px;
    /* font-weight:300px; */
    margin-top:20px;
    /* border-style: solid; 
    border-color: blue;  */

}

.cost_title_2{
    font-size: 20px;
    /* font-weight: 700px; */
    font-family: 'Open Sans', sans-serif;
    color: #E55AA1!important;
    line-height: 26px;
    text-align: center;
    font-weight: 400px;
    
    padding-bottom: 10px;
    /* border-style: solid; 
    border-color: blue; */
} 

.cost_p{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-align: center;
    font-size: 24px;
    font-weight: 500px;
    /* line-height: 1.7em; 
    /* border-style: solid; 
    border-color: blue;  */

}

.cost_rows{
    display: flex;
    flex-direction: row;
    /* width:1100px; */
    height:auto;
    width:auto;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;

    border-style: solid; 
    border-color: rgb(9, 255, 0); 

}

.cost_left_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    /* text-align: center; */
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    width: 500px;
    height: 680px;

    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;

    border-style: solid; 
    border-color: #F9C174;
    margin-right:58px;
}



.cost_bill_family_image{
    width: 117px;
    height: 112px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    margin-left:auto;
    margin-right:auto;
    margin-top:-50px;
}

.cost_col_heading_1{
    font-size: 20px;
    /* font-weight: 700px;  */
    font-family: 'Open Sans', sans-serif;
    color: #E55AA1!important;
    /* line-height: 26px; */
    text-align: center;
}

.cost_col_heading_2{
    font-size: 20px;
    color: #222222!important;
    /* line-height: 26px; */
    text-align: center;
    /* font-weight:700px; */
    margin-top:-10px;
    
}

.cost_col_heading_3{
    font-size: 16px;
    color: #999999 !important;
    text-align: center;
    margin-top:-20px;
    
}

.cost_col_p_bold{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    
}

.cost_col_p{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-align: left;
    font-size: 21px;
    font-weight: 500px;
    /* line-height: 1.7em; */
    margin-top:-5px;
    /* border-style: solid; 
    border-color: blue;  */
   

}

.cost_col_list{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    text-align: left;
    font-size: 21px;
    
}

.cost_right_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    /* padding-left: 30px;
    padding-right: 30px; */
    
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    width: 600px;
    height: 900px;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;

    border-style: solid; 
    border-color: #F9C174;
}

.cost_bill_careservice_image{
    width: 210px;
    height: 113px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-left:auto;
    margin-right:auto;
    margin-top:-50px;
    

}

.flex_container_data_secure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  #F9C174;
    padding-top:54px;
    padding-bottom: 54px;
    /* border-style: solid; 
    border-color: blue; */
}

.lhs_box_data_secure{
    display: flex;
    flex-direction: column;
    width:800px;
    /* border-style: solid; 
    border-color: rgb(255, 0, 221); */
}

.data_heading{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400px;
    padding-bottom:20px;
    /* border-style: solid; 
    border-color: rgb(200, 255, 0); */

}

.data_p_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    width: 564px;
    height: 100px;
    font-weight: 500px;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25);
    
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-align: left;
    font-size: 15px;

    text-align: left;
    padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;
    
}
   
.rhs_box_data_secure { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:300px;
    /*height:216px; */
    /* padding: 30px; */
    /*border-style: solid; 
    border-color: red;
    
    /* margin-right: 40px; */
    /*margin-right: auto;*/
    /* border-style: solid; 
    border-color: red; */
}



/* .lhs_column_box{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /*justify-content: space-around;*/
    /* background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    width: 260px;
    height: 194px;
   
    border: 5px solid rgb(252, 252, 252);
    box-shadow: rgb(153,153,153,0.25); */
    
    /*padding-top: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 30px!important;

} */



/* .middle_column_box{
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        /*justify-content: space-around;*/
        /* background-color: #ffffff;
        border-radius: 30px 30px 30px 30px;
        width: 260px;
        height: 194px;
        border: 5px solid rgb(252, 252, 252);
        box-shadow: rgb(153,153,153,0.25); */
        /* padding-top: 30px!important;
        padding-right: 30px!important;
        padding-bottom: 30px!important;
        padding-left: 30px!important; 
}*/

/*.rhs_column_box{
    display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        /*justify-content: space-around;*/
        /* background-color: #ffffff;
        border-radius: 30px 30px 30px 30px;
        width: 260px;
        height: 194px;
        border: 5px solid rgb(252, 252, 252);
        box-shadow: rgb(153,153,153,0.25); */
        /*padding-top: 30px!important;
        padding-right: 30px!important;
        padding-bottom: 30px!important;
        padding-left: 30px!important;
} */